#root{
	background:url("../img/bg.jpg");
	width:100%;	
	height:100vh;	
		
}
ul.a {
    list-style-type: circle;
}
button{
	color:#0099FF; 
}


h1 {
    	background:#4F4F4F;
    	color: white;
	text-align:center;
	width:100%;		
}
h2 {
    	background: green;
    	color: yellow;
	text-align:center;
	width:100%;		
}

input{
	margin-left:20px;
	width:100%;
	margin: 10px ;
    	
}

table{
	width:100%;
}

table, th, td {
	border: 1px solid black;
	text-align:center;		
}





#display{
	background:#1E90FF;	
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

